* {
	margin: 0;
	padding: 0;
	font-family: 'sans-serif', 'poppins';
	box-sizing: border-box;
}

.hero {
	width: 100%;
	height: 100vh;
	/* background-image:linear-gradient(rgba(0,0,0,0.7),#35513b) ,url("./images/bgContact.jpg"); */
	background-image: url("bgContact.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frm-center {
	width: 90%;
	max-width: 600px;
}

.input-grp {
	margin-bottom: 30px;
	position: relative;
}

input, textarea {
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 15px;
}

label {
	width: 100%;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	cursor: text;
	transition: 0.3s ease;
}

button {
	padding: 10px 0;
	color: #fff;
	outline: none;
	background: transparent;
	border: 1px solid #fff;
	width: 100%;
	cursor: pointer;
}

input:focus ~label, input:valid ~label, textarea:focus ~label, textarea:valid
	~label {
	top: -35px;
	font-size: 14px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row .input-grp {
	flex-basis: 48%;
}

ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	/* display: inline-block; */
	justify-content: center;
	align-items: center;
}

.col-25 {
	width: 20%
}

.col-75 {
	width: 70%;
}

/* ogin top bar */
